# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files 
*.mlappinstall 
*.mltbx 
  
# Generated helpsearch folders 
helpsearch*/ 

# Simulink code generation folders
slprj/
sccprj/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# don't sync output because it's produced by running the script
output/*

# don't sync data because it's too big
# data/*

# don't sync some image file formats
private/*.eps
private/*.svg
